body {
  font-family: sans-serif;
  background: #222;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

input, select, button, textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
}

button {
  background-color: #00c853;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #00e676;
}

.question-box {
  background: #333;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
